<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todo App</title>
    <style>
      /**
        Block-Element-Modifier
      */
      .todo {
        /* block */
      }

      /* modifier: for completion */
      .todo--complete {
        text-decoration: line-through;
      }

      /* element: remove icon */
      .todo__remove {
        margin-left: 10px;
      }

      .todo__remove--disabled {
        /* modifer: disable the remove element of the todo block */
      }
    </style>
  </head>
  <body ng-controller="TodoController as ctrl">
    <h1>The Todo App</h1>

    <form ng-submit="ctrl.addTodo( newTodoText )">
      <label for="newTodoText"></label>
      <input id="newTodoText" type="text" ng-model="newTodoText" />
      <button type="submit">Add Todo</button>
    </form>

    <button ng-click="ctrl.toggleFilter()">
      {{ ctrl.isFiltered() ? 'Show Completed' : 'Hide Completed' }}
    </button>

    <ul>
      <li ng-if="ctrl.todos.length === 0">Loading...</li>

      <li
        ng-repeat="todo in ctrl.todos"
        ng-click="ctrl.toggleComplete( todo )"
        ng-class="{ 'todo--complete': todo.isComplete() }"
        >
        {{ todo.getTitle() }}
      </li>
    </ul>

    <script src="/static/bundle.js"></script>
  </body>
</html>

