<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todo App</title>
    <style>
      /* BEM: Block-Element-Modifier */
      .todo {}

      .todo--complete {
        text-decoration: line-through;
      }

      .todo__remove {
        margin-left: 15px;
      }
    </style>
  </head>
  <body ng-controller="AppController as ctrl">
    <h1>The Todo App</h1>

    <form ng-submit="ctrl.addTodo()">
      <label for="newTodoText"></label>
      <input id="newTodoText" ng-model="ctrl.newTodoText" type="text" />
      <button type="submit">Add Todo</button>
    </form>

    <button ng-click="ctrl.toggleFilter()">
      {{ ctrl.isFiltered() ? 'Show Completed' : 'Hide Completed' }}
    </button>

    <ul id="todoList">
      <li ng-show="ctrl.state.loading">Loading...</li>
      <li ng-show="!ctrl.state.loading && ctrl.state.todos.length === 0">
        No todos.
      </li>
      <li ng-repeat="todo in ctrl.state.todos" ng-class="{ 'todo--complete': todo.isComplete() }">
        <span ng-click="ctrl.toggleTodo( todo )">{{todo.getTitle()}}</span>
        <span ng-click="ctrl.removeTodo( todo )" class="todo__remove">x</span>
      </li>
    </ul>

    <!-- load our app -->
    <script src="http://localhost:8080/static/bundle.js"></script>
    <!-- <script src="/static/bundle.js"></script> -->
  </body>
</html>

